 <div class="button">
    <a class="button" href="<%= root_path %>"><b>Back</b></a>
  </div>
<h1>Add New Product to be Reviewed</h2>
<%= form_for @product, :html => {:multipart => true} do |f| %>
  <div class="field">
    <%= f.label "Product name" %><br>
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <%= f.label "Product Image"  %><br>
    <%= f.file_field :image %>
  </div><br>

  <div class="actions">
    <%= f.submit disable_with: "Submitting..." %>
  </div>
<% end %>
