<% require 'httparty' %>
<p>
  <strong>Product Name</strong>
  <%= @product.name %>
</p>
 
<p>
  
  <%=  image_tag(@product.image, :width => 80,:height=>80) if @product.image.present? %>
</p>
 <h2>Reviews</h2>

 <% @product.reviews.each do |r| %>
 
 <%=
 
%>



 <div class="<%= review_class(r) %>">
  <%=   r.comment  %></div>

 <% end %>

