<%= form_for :review,  :url=> {:action => "create" }, :html => { :method => :post } do |f| %>

Review for <%=  %>
<br>
   <%= f.label "New Comment" %><br>
    <%= f.text_field :comment %>
  </p>
  <p>
    
  </p>
  <div class="button">
      <%= f.submit%>
  </div>

  <div class="button">
  	<a class="button" href="<%= root_path %>">Back</a>
  </div>
<% end %>