<%= form_for :review,  :url=> {:action => "create" }, :html => { :method => :post } do |f| %>

 
<br>
   <%= f.label "New Review" %><br>
    <%= f.text_field :comment %>
  </p>
  <p>
    
  </p>
  <div class="button">
      <%= f.submit disable_with: "Submitting..."%>
  </div>

  <br>

  <div class="button">
  	<a class="button" href="<%= root_path %>"><b>Back</b></a>
  </div>
<% end %>