<%= form_for :review,  :url=> {:action => "create" }, :html => { :method => :post } do |f| %>

<<<<<<< HEAD
Review for <%=  %>
=======
>>>>>>> f31fe40e6caaead9c5e68619fd6937377a31e1eb
<br>
   <%= f.label "New Review" %><br>
    <%= f.text_field :comment %>
  </p>
  <p>
    
  </p>
  <div class="button">
      <%= f.submit%>
  </div>

  <div class="button">
  	<a class="button" href="<%= root_path %>">Back</a>
  </div>
<% end %>